*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(189, 189, 189);
    font-family: Marker Felt, fantasy;
}
.container{
    width: 1000px;
    margin: auto;
    background-color: pink;
}
header{
    background-color: rgb(131, 129, 129);
    height: 150px;
    opacity: 0,5;
    width: 1000px;
    
}